Package: thunderbirdconfig
Version: 1.1.1
Architecture: amd64
Maintainer: Robert Key robertkey021@gmail.com
Section: myown
Depends: xz-utils
Priority: optional
Description: Converts thunderbird from snap to normal and installs config data. Installed with meta package thunderbird-meta
