Package: thunderbirddata
Version: 1.0.4
Architecture: amd64
Maintainer: Robert Key robertkey021@gmail.com
Section: myown
Depends: xz-utils
Priority: optional
Description: Converts thunderbird from snap to normal and installs data. Install before thunderbird.
